
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}
h1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#searchTerm {
    height: 30px;
    width: 500px;
    border: 0;
    outline: 0;
    border-radius: 5em;
    padding-left: 15px;
    font-size: 20px;
}

#searchBtn {
    background-color: salmon;
    border-radius: 20px;
    height: 30px;
    font-size: 19px;
    color: white;
    margin-left: -74px;
    border: 0;
    z-index: 1000;
    cursor: pointer;
}
.danger {
    color: yellow;
}

#errMsg {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
}

.card-list {
    display: flex;
    padding: 3rem;
    min-height: 50vh;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    width: 400px;
    height: 350px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    overflow-y: scroll;
}

.card img:hover {
    opacity: 0.5;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(100px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}
.book-name, .book-author {
    word-break: break-word;
}

@media only screen and (max-width: 480px) {
    .card-list {
        height: 50vh;
    }
    #searchTerm {
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    h4, .book-author, by {
       margin-bottom: 5px;
    }
    #searchTerm {
        width: 80%;
    }
}
.spinner-container {
    text-align: center;
    margin-top: 50px;
}

.lds-ring {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



